* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6363;
    padding: 20px;
    color: white;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #ffa500;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #fff;
    color: #ff6363;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.games {
    padding: 50px 20px;
    text-align: center;
}

.games h3 {
    font-size: 36px;
    margin-bottom: 30px;
}

.game-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-item {
    width: 30%;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.game-item img {
    width: 100%;
    border-radius: 10px;
}

.game-item:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ff6363;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links img {
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}
